package endpoints.openapi

import endpoints.algebra

trait TuplesSchemas extends algebra.TuplesSchemas { this: JsonSchemas =>
  [2..#
  implicit def tuple1JsonSchema[[#T1#]](implicit [#schema1: JsonSchema[T1]#]): JsonSchema[([#T1#])] =
    DocumentedJsonSchema.Array(Right([#schema1# :: ] :: Nil))#
  ]

}
