package endpoints4s.playjson

import endpoints4s.algebra
import play.api.libs.json.{Reads, Writes}

/**
  * @group interpreters
  */
trait TuplesSchemas extends algebra.TuplesSchemas { this: JsonSchemas =>
  [2..#
  implicit def tuple1JsonSchema[[#T1#]](implicit [#schema1: JsonSchema[T1]#]): JsonSchema[([#T1#])] = {
    [#implicit val schema1Writes: Writes[T1] = schema1.writes
    implicit val schema1Reads: Reads[T1] = schema1.reads#
    ]
    JsonSchema(implicitly, implicitly)
  }#
  ]

}
