name: Release
on:
  workflow_dispatch:
    inputs:
      versionQualifier:
        description: 'Optional version qualifier (e.g. "-RC1")'
        required: false
        type: string

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      RELEASE: true
      SBT_NATIVE_CLIENT: true
      PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
          cache: sbt
          gpg-private-key: ${{ secrets.PGP_SECRET }}
          gpg-passphrase: PGP_PASSPHRASE
      - run: npm install jsdom@12.2.0
      - run: sudo apt-get install graphviz
      - name: Set version qualifier
        if: ${{ inputs.versionQualifier != '' }}
        run: |
          echo "VERSION_QUALIFIER=${{ inputs.versionQualifier }}" >> $GITHUB_ENV
      - run: git config user.email "release-bot@endpoints4s.org"
      - run: git config user.name "endpoints4s release bot"
      - run: sbt versionPolicyCheck
      - run: sbt versionCheck
      - run: sbt +publishSigned
      - run: sbt sonatypeBundleRelease
      - name: Build documentation
        run: sbt "++ 2.13 manual/makeSite"
      - name: Publish documentation
        uses: JamesIves/github-pages-deploy-action@v4.5
        with:
          repository-name: endpoints4s/endpoints4s.github.io
          branch: master
          folder: documentation/manual/target/site
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Push tag
        run: sbt release
